<div class="searchbox">
    <label for="search-by"><i class="fas fa-search"></i></label>
    <input data-search-input id="search-by" type="search" placeholder="{{T " Search-placeholder"}}">
    <span data-search-clear=""><i class="fas fa-times"></i></span>
</div>
<div class="belowsearch">
    <a href="https://discord.gg/CNhNvwVVRX" target="_blank">
        <button id="Discord" class="belowsearchbutton"><i class="fab fa-discord"></i> Discord</button>
    </a>
    <a href="https://www.twitch.tv/catclysmicc" target="_blank">
        <button id="Twitch" class="belowsearchbutton"><i class="fab fa-twitch"></i> Twitch</button>
    </a>
    <a href="https://www.instagram.com/catclysmic/?hl=en" target="_blank">
        <button id="Instagram" class="belowsearchbutton"><i class="fab fa-instagram"></i> Instagram</button>
    </a>
    <a href="https://www.tiktok.com/@catclysmic?lang=en" target="_blank">
        <button id="TikTok" class="belowsearchbutton"><i class="fab fa-tiktok"></i> TikTok</button>
    </a>
    <a href="https://www.youtube.com/channel/UCXNxVsKgxtFOWKkG8eiFaFg" target="_blank">
        <button id="Youtube" class="belowsearchbutton"><i class="fab fa-youtube"></i> YouTube</button>
    </a>
</div>

{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript">
    var index_url={{ "index.json" | relLangURL }};
    var root_url="/";
    var baseUri=root_url.replace(/\/$/, '');
    {{ if .Site.IsMultiLingual }}
    var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{ else }}
    var baseurl = "{{.Site.BaseURL}}";
    {{ end }}
</script>
<script src="{{ "js/search.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
